
  .grid-container {
    
    display: grid;
    
    grid-template-areas:
      'header'
      'caption1'
      'main'
      'modal'
      'footer';
    gap: 10px;
  padding: 0px;
  margin: 0px;
    height: auto;
    width: auto;
  
  }
  .gallery{  
display: flex;
justify-content: center;
  }
  
  .main .gallery{
    grid-area: main;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto auto;
gap: 10px;
padding-top: 50px;
padding-bottom: 50px;
  }

  .item img {
    width: 100%;
    height: 100%;
  }
  .caption1{
    grid-area: caption1;
  }
  #caveat-font1{
    font-family: "Caveat", cursive;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
 }
 #second_hr{
  width:10%;
  align-self: center;
}
.first_hr{
   width: 30%;
   margin-left: 35%;
}


.modal {
  grid-area: modal;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-height: 90%;
  max-width: 80%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}