
.main{
    grid-area: main;
display: flex;
    flex-direction: column;
gap: 30px;
background-image: url(Images/background.webp);
background-repeat: no-repeat;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
height: 60em;
}

.carousel{
    height: 30%;
    margin-bottom: 50px;
    background-color: rgba(0,0,0, 0.4);
}
.carousel-cell {
  width: 25%;
  height: 100%;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

section{
    text-align: center;
}

#border{
    display: flex;
    border: 1px solid rgb(255, 255, 255); 
    border-width:6px;
    border-style: double;
    border-radius: 30px; 
    align-self: center;
    height:100%; 
    width: 40%;
    margin-top:20px;
    padding: 0px 10px;
    background-color: rgba(0,0,0, 0.4);
}

#paragraph{

   margin-bottom:250px ;
   align-self: center;  
   color: white;
}

#h1{
  color: white;
}


.grid-container {
    
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
      padding: 0px;
      margin: 0px;
        height: auto;
        width: auto;
  }


  
