.grid-container {
    
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'footer';
      padding: 0px;
      margin: 0px;
        height: auto;
        width: auto;
  }
#contact_information{
    grid-area: main;
    display: flex;
    flex-direction: row;
    height: 80%;
    background-image: url(Images/background_contact2.jpg);
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contact_information_sec{
    width: 50%;
   
}
select option{
    color: black;
}
select:invalid { color: gray; }

#contact_h1, .contact_p{
    text-align: right;
    color: white;
    font-size: 30px;
}
#contact_form{
    padding: 45px;
    width: 50%;
    box-sizing: border-box;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#fname{
    padding: 15px;
width: 50%;
}
#email{
    width: 50%; 
    padding: 15px;  
}
#pnumber{
    width: 50%;
    padding: 15px;
}
#country{
    width: 50%;
    padding: 5px;
}
#message{
    height: 150px;
    padding: 15px;
    width: 50%;
}
#submit{
    background-image:url(Images/background.avif) ;
    background-position: right;
    border-color:rgb(214, 234, 252) ;
    border-radius:10px;
    padding: 10px;
    width: 15%;
    cursor: pointer;
}

