


#information_about_portfolio{
    
align-self: flex-end;
    height: 40%;
}
#information_about_portfolio p{
   
align-self: center;
padding: 20px;
}

#second_hr{
   width:10%;
   align-self: center;
}
.first_hr{
    width: 30%;
    margin-left: 35%;
}

 .portfolio{
   grid-area: main;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto;
gap: 10px;
padding-top: 50px;
padding-bottom: 50px;
justify-content: center;
}
.grid-container2 {
    
   display: grid;
   grid-template-areas:
     'header'
   'caption1'
     'main'
     'caption2'
     'footer';
 }
 .caption1{
   grid-area: caption1;
 }
 .caption2{
   grid-area: caption2;
   padding-bottom: 50px;
 }
 .overlay_image{
   position: relative;
 }
   .overlay_image img {
     width: 90%;
     height: 90%;
   }
   #information_about_portfolio{
display: flex;
flex-direction: column;
height: auto;
justify-content: center;
      }
      #information_about_portfolio p{      
      width: 30%;
      padding: 20px;
      }
 
       #caveat-font1{
          font-family: "Caveat", cursive;
          padding-top: 50px;
          font-size: 30px;
          font-weight: 400;
          font-style: normal;
       }
       #caveat-font2{
          font-family: "Caveat", cursive;
          font-size: 20px;
          font-weight: 400;
          font-style: normal;
       }