
#information{
    display: flex;
    height: 750px;
  width: 1400px;
flex-direction: column;
background-color: rgb(255, 255, 255);
padding: 50px;
align-self:flex-end;
border-top-left-radius: 100px;
border-top-right-radius: 100px;
gap: 100px;
}
#owner img{
    height: 150px;
    width:150px;
 padding:0px  20px 0px;
}
#information p{
    height: 100%;
    width: 30%;
}
#background_about_page{
   grid-area: main;
display: flex;
justify-content: center;
background-image: url(Images/bg3.jpg);
background-position: center;
padding-top: 30px;
 }
 #owner{
    display: flex;
    flex-direction: row;
justify-content: center;
 }
 .grid-container {
    display: grid;
    
    grid-template-areas:
      'header'
      'main'
      'footer';
  padding: 0px;
  margin: 0px;
    height: auto;
    width: auto;
  
  }
  .carousel{
    height: 35%;
    margin-bottom: 50px;
    background-color: rgba(0,0,0, 0.4);
}
.carousel-cell {
  width: 15%;
  height: 100%;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}